<div class="container">
  <div class="row">
      <div class="col-md-12">
          <div class="error-template">
              <h1 style="text-align:center">
                  Oops!</h1>
              <h2 style="text-align:center">
                  404 Not Found</h2>
              <div class="error-details" >
                  <h4 style="text-align:center"> Sorry, an error has occured, Requested page not found!</h4>
              </div>
              <div class="error-actions" style="text-align:center">
                <a href class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                  Take Me To MENU </a>
              </div>
          </div>
      </div>
  </div>
</div>
