<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>
<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>


<div class="container">
  <div class="row">
      <div class="well col-xs-10 col-sm-10 col-md-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-3">
          <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                  <address>
                      <strong>Thank You...Your Order has been Placed...!</strong>
                      <br />
                     
                  </address>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6 text-right">
                  <p>
                  </p>
                  <p>
                      <em>Customer Name:{{orders[0].cusName}}</em>
                  </p>
              </div>
          </div>
          <div class="row">
              <div class="text-center">
                  <h1>Receipt</h1>
              </div>
              
              <table class="table table-hover">
                  <thead>
                      <tr>
                          <th>Food Name</th>
                          <th>Quantity</th>
                          <th class="text-center">Price</th>
                          <th class="text-center">Total</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td class="col-md-9"><em>{{foodName}}</em></td>
                          <td class="col-md-1" style="text-align: center">{{orders[0].qty}}</td>
                          <td class="col-md-1 text-center">{{foodPrice| currency : 'INR' : 'symbol'}}</td>
                          <td class="col-md-1 text-center">{{orders[0].qty * foodPrice | currency : 'INR' : 'symbol'}}</td>
                      </tr>

                      <tr>
                          <td>   </td>
                          <td>   </td>
                          <td class="text-right"><h4><strong>Total:{{orders[0].qty * foodPrice | currency : 'INR' : 'symbol'}} </strong></h4></td>
                          <td class="text-center text-danger"><h4><strong></strong></h4></td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</div>